<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    
<title>{% block title %}My Web Programming Portfolio{% endblock %}</title>
    <link rel="stylesheet"
 href="{{ url_for('static', filename='style.css') }}"
/>
</head>
<body>
    <header>
        <h1>Web Programming Portfolio — Micheal Saliba</h1>
        <p>A live site that grows one page or feature every week.</p>
    </header>
    <nav>
   <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('internet_history') }}">Internet History</a></li>
        <li><a href="{{ url_for('web_history') }}">Web History</a></li> 
        <li><a href="{{ url_for('internet_history_ai') }}">Internet History (AI)</a></li>
        <li><a href="{{ url_for('web_history_ai') }}">Web History (AI)</a></li>
    </ul>

</nav>


    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>Web Programming — built with Flask and deployed on Render.</p>
        <p>This website is created for educational purposes
only, as part of the GIN446 - Web Programming course,
School of Engineering, USEK. (Fall 2026-2027)</p>
    </footer>
</body>
</html>