<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    

            <footer>
                <p>Web Programming — built with Flask and deployed on Render.</p>
            <p>Web Programming — This website is created for educational purposes only, as part of the GIN446 - Web Programming course, 
           School of Engineering, USEK. (Fall 2026-2027)</p>
        <p>© 2023 Michael Saliba. All rights reserved.</p>    
        </footer>
        </nav>
</body>
</html>